In [3]:
import pandas as pd
import numpy as np

np.random.seed(0)

In [89]:
def create_equations_df(size, min_value=0, max_value=9999, operations={'+': np.add, '-': np.subtract}):
    df = pd.DataFrame()
    df['a'] = np.random.randint(low=min_value, high=max_value, size=size)
    df['b'] = np.random.randint(low=min_value, high=max_value, size=size)
    df['op'] = np.random.choice(list(operations.keys()), size)
    df['result'] = np.zeros(size, dtype='int')
    for symbol, calc in operations.items():
        df.loc[df.op == symbol, 'result'] = calc(df[df.op == symbol]['a'], df[df.op == symbol]['b'])
        
    df['input'] = df.a.astype(str) + df.op + df.b.astype(str)
    df['target'] = df.result.astype(str)
    return df

In [90]:
create_equations_df(10)

      a     b op  result      input target
0  5015  5620  -    -605  5015-5620   -605
1   324  9833  +   10157   324+9833  10157
2  5535  9040  -   -3505  5535-9040  -3505
3  8854  1731  -    7123  8854-1731   7123
4  7232  1360  +    8592  7232+1360   8592
5  7909  5440  -    2469  7909-5440   2469
6    79  9345  -   -9266    79-9345  -9266
7  8275   363  +    8638   8275+363   8638
8  6927  4562  -    2365  6927-4562   2365
9  5130  2386  +    7516  5130+2386   7516